

@import "variables";

@import "lib/normalize";
@import "lib/fonts";
@import "lib/mixins";

@import "catalog";

#shop{ 
    font: normal $font-size-base/$line-height-base $font-family-base;
    font-family: $font-family-base;
    color: $text-color-base;     
    .wrapper {
        max-width:960px;    
        margin: 0 auto;    
    }
    
    .btn {
        &:hover{
            box-shadow: 1px 1px 2px RGBA(0, 0, 0, 0.5);
        }
    } 
    
#ral_modal {
    display: none; 
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;    
    text-align: center;
    white-space: nowrap;
    
    &::after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }    
    .win_modal {
        display: inline-block;
        vertical-align: middle;
        .modal_container {
            margin: 50px;
            padding: 20px;
            text-align: left;
            white-space: normal;
            background-color: #fff;    
            color: #000;
            h3{
                font-size: 1.5em;
                text-align: center;
            }
            .box{
                width: 70px;
                height: 30px;
                display: block;
                float: left;
                text-align: center;
                color: #fff;
                text-shadow: 0 0 2px #000;
                line-height: 30px; 
                cursor: pointer;
                &:hover{
                    border: 2px solid #000;
                    line-height: 26px;  
                }
            }
        }
    }
}
    
    
.fixed-overlay {
    display: none; 
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.fixed-overlay__modal {
    text-align: center;
    white-space: nowrap;
    
    &::after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }    
    .win_modal {
        display: inline-block;
        vertical-align: middle;
        .modal_container {
            margin: 50px;
            padding: 20px;
            text-align: left;
            white-space: normal;
            background-color: #fff;    
            color: #000;
            h3,h2 {
                font-size: 1.5em;
                text-align: center;
                font-weight: bold;
                margin: 5px 0;
            }     
            .info-block{
                float:left;
                padding: 10px;
                h3 {
                    font-size: 1.5em;
                    text-align: center;
                    font-weight: bold;
                    margin: 5px 0;
                }                
            }
            .components-block{
                float:right;
                padding: 10px 10px 5px 10px;
                h3 {
                    font-size: 1.1em;
                    text-align: center;
                    font-weight: bold; 
                    margin: 0;
                }                
                .component{
                    margin: 5px;
                    padding: 5px;
                    border: 1px solid $color-grey;
                    line-height: 1.5em;
                    font-size: 1.2em;                    
                    input{
                        margin: 0px 5px 0;
                    }
                    input[name=count]{
                        width: 50px;
                        text-align: center;
                    }
                }
            }
            .price-box {
                font-size: 1.3em;
                text-align: center;
                color: #333;
                line-height: 1em;
                span{
                    color:#111;
                    padding: 0 5px;
                    font-size: 1.5em;
                    font-weight: bold;
                }
                small{
                    font-size: 0.7em;
                    line-height: 0.7em;                                        
                }
            }            
            .action-block{
                    padding: 5px 0;                  
                    text-align: center;
                    .btn {
                        color: $link-color;
                        display: inline-block;
                    }
                    .btn-add{
                        background: $color-orange;
                        color: #fff;
                        font-weight: bold;
                        font-size: 1.1em;
                        padding: 5px 60px;
                        line-height:1.5em;
                        text-align: center;
                        border-radius: $border-radius-base;
                        float: right;
                    };
                    .cancel, .about {
                        border: 1px solid $color-grey;
                        padding: 5px 50px;
                        line-height: 1.5em;
                        color: #222;                        
                    };
                    .cancel{
                        float: left;
                    }                    
            }            
        }        
    }    
}

 



    .lists {
        padding: 10px 0;
        border-top:1px solid $color-grey;
        
        .title{
            text-align: center;            
            padding: 5px 0 10px;
            h3{
                font-size: 1.5em;  
                margin: 5px 0;
            }
            p{
                font-size: 1.2em;
            }        
        }; 
        
        .table{
            .list-clear{
                text-align: center;
                font-size: 1.2em;
                padding: 20px 0;
                display: none;
            }
            .line {
                font-size:1.2em;
                line-height:1.5em;
                .col{
                    display: block;
                    float: left;
                }
                .number{
                    width: 5%;                    
                }
                .name {
                    width: 45%;
                }
                .price{
                    width: 15%;
                }
                .count{
                    width: 10%;
                    text-align: center;
                }
                .total{
                    width: 20%;
                    text-align: right;
                    font-weight: bold;
                }
                .del{
                    width: 5%;
                    text-align: right;
                    cursor: pointer;
                    color: $color-red;
                }
                .total-line{
                    width: 75%;
                    text-align: right;
                    font-weight: bold;
                }
            }
            .line.top{
                border-top: 1px solid $color-grey;
            }
            .line.bottom{
                border-bottom: 1px solid $color-grey;
            }            
        }
    }
}

.action-bar{
        padding: 10px 0;
        border-top:1px solid $color-grey;
        
        .btn {
            color: $link-color;
            display: inline-block;
        }
        .btn.sale{
            background: $color-orange;
            color: #fff;
            font-weight: bold;
            font-size: 1.1em;
            padding: 5px 15px;
            line-height:1.5em;
            text-align: center;
            border-radius: $border-radius-base;
            float: right;
        };
        .btn.clear {
            border: 1px solid $color-grey;
            padding: 5px 15px;
            line-height: 1.5em;
        };
}