

@import "variables";

//@import "lib/normalize";
@import "lib/fonts";
@import "lib/mixins";


#shop{ 
    
    @import "catalog";
    
    font: normal $font-size-base/$line-height-base $font-family-base;
    font-family: $font-family-base;
    color: $text-color-base;     
    background: #fff;
    padding: 5px 10px;   
    
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;        
        font-family: $font-family-base !important;        
    } 
    p {
        font-size: 14px;
        line-height: normal;
        margin: 0 0 10px;
    }  
    label {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;      
        display: inline-block;
    }
    input, button, select, textarea {    
        font-size: 16px;
        line-height: inherit;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px; 
        text-shadow: none;
    }
    .title{
        font-size: 14px;
    }
    
    
    
    
    .wrapper {
        max-width:960px;    
        margin: 0 auto;    
    }
    
    .btn {
        &:hover{
            box-shadow: 1px 1px 2px RGBA(0, 0, 0, 0.5);
        }
    } 
    
    #load_modal {
        display: none; 
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 2000;    
        text-align: center;
        white-space: nowrap;

        &::after {
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 100%;
            content: '';
        }    
        .win_modal {
            display: inline-block;
            vertical-align: middle;
            .modal_container {
                margin: 50px;
                padding: 20px;
                text-align: center;
                white-space: normal;
                background-color: #fff;    
                color: #000;
                h3{
                    font-size: 1.5em;                    
                    text-transform: uppercase;
                }
                p{
                    font-size: 1.2em;
                    margin: 10px 0 30px;
                    max-width: 450px;
                }
                .btn {
                    color: $link-color;
                    display: inline-block;
                }
                .back{
                    background: $color-orange;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 1.1em;
                    padding: 5px 60px;
                    line-height:1.5em;
                    text-align: center;
                    border-radius: $border-radius-base;                    
                };                
            }
        }
    }    
    
    #order-info{
        h3{
                font-size: 1.5em;
                text-align: center;                
                margin: 10px 0 20px;
                text-transform: uppercase;
        }
        h4{
                font-size: 1.2em;
                text-align: left;                
                margin: 30px 0 5px;
                font-weight: bold; 
                text-transform: uppercase;                
        }
        p{
            font-size: 1.2em;
        }
        .price-block{
                font-size: 1.5em;
                text-align: center;  
                font-weight: bold;
                text-transform: uppercase;
                margin: 30px 0;
                .post-pay{
                    font-size: 14px;
                    text-transform: none;
                    font-weight: normal;
                }
        }        
        .btn.clear {
            color: $color-orange;
            display: inline-block;
            margin: 10px 5px;            
            border: 1px solid $color-orange;
            padding: 5px 15px;
            line-height: 1.5em;            
        };        
    }
    
    .order{
        h3{
                font-size: 1.5em;
                text-align: center;                
                margin: 10px 0 20px;
                text-transform: uppercase;
        }
        
        input.error-check{
            border: 1px solid $color-red;
        }
        
        .error-text {
            display: none;
            font-size: 0.8 !important;
            color: $color-red;
            line-height: 0.8em;            
        }

        .client-block{
            line-height: 2em;
            .client-select{
                border-bottom: 3px solid $color-orange;
                .active{
                    color: #fff;
                    background: $color-orange;
                }
                li{
                    display: inline-block;
                    width: 20%;
                    text-align: center;
                    height: 2em;
                    line-height: 2em;
                    font-size: 1.5em; 
                    cursor: pointer;
                }
            }
            p {
                margin-left: 20%;
                font-size: 14px;
                span {
                    color: $color-red;
                }
            }            
            .box{
                font-size: 1.2em;   
                padding: 20px 0;
                label{
                    width: 20%;
                    text-align: right;
                    padding-right: 15px; 
                    span {
                        color: $color-red;
                    }
                }
                input {                
                    height: 1.8em;
                    padding: 0 5px;
                    width: 35%;                                     
                    margin: 5px 0;
                }
            }
        }
        .help{
            position:relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 5px $color-orange;
            border: 1px solid $color-orange;
            color: $color-orange;
            font-weight: bold;
            font-size: 0.8em;
            line-height: 18px;                    
            &:hover::after {
                    content: attr(data-text);
                    position: absolute;
                    right: 0;
                    top: 80%;
                    z-index: 1;
                    background: rgba(255, 255, 230, 0.9);
                    font-size: 0.8em;
                    padding: 5px 10px;
                    border: 1px solid #333;
                    min-width: 400px;    
                    text-align: left;
                    color: #000;
                    font-weight: normal;
                    font-size: 1em;
            }
        }        
        .logistic-block{                
                padding: 20px 0;
                p {
                    margin: 0 0 20px 20%;
                    span {
                        color: $color-red;
                    }
                }                
                input ,label{
                    font-size: 1.2em;                      
                }                
                label[for=city], label[for=address]{
                    width: 20%;
                    text-align: right;
                    padding-right: 15px; 
                    span {
                        color: $color-red;
                    }                     
                }                         
                input[name=city] {                
                    height: 1.8em;
                    padding: 0 5px;
                    width: 35%;                                     
                    margin: 5px 0 5px;
                }         
                input[name=address] {                
                    height: 1.8em;
                    padding: 0 5px;
                    width: 70%;                                     
                    margin: 20px 0 2px;
                }                
                input[type=radio] {                
                    width: 2%;
                    margin: 0 0 10px 18%;
                }                                                
        }
        
        .payment-block{
                input ,label{
                    font-size: 1.2em;   
                }             
                input[type=radio] {                
                    width: 2%;
                    margin: 0 0 30px 18%;
                    height: 2em;
                }
                label p{
                    font-size: 0.8em;
                }
        }
        .other-block{
                textarea ,label{
                    font-size: 1.2em;   
                }              
                label{
                    width: 20%;
                    text-align: right;
                    padding-right: 15px;
                    vertical-align: top;
                }
                textarea {
                    width: 70%;
                    margin: 0 0 20px 0;
                    padding: 3px;
                }
        }
    }
    
#ral_modal {
    display: none; 
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    z-index: 2000;    
    text-align: center;
    white-space: nowrap;
    .close_hover{        
        position: absolute;
        display: block;        
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;      
        z-index:1000;
    }
    &::after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }    
    .win_modal {
        display: inline-block;
        vertical-align: middle;
        position:relative;
        z-index:2000;
        .modal_container {
            margin: 50px;
            padding: 20px;
            text-align: left;
            white-space: normal;
            background-color: #fff;    
            color: #000;
            h3{
                font-size: 1.5em;
                text-align: center;
            }
            .box{
                width: 70px;
                height: 30px;
                display: block;
                float: left;
                text-align: center;
                color: #fff;
                text-shadow: 0 0 2px #000;
                line-height: 30px; 
                cursor: pointer;
                &:hover{
                    border: 2px solid #000;
                    line-height: 26px;  
                }
            }
        }
    }
}
    
   
.fixed-overlay {
    display: none; 
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    .close_hover{        
        position: absolute;
        display: block;        
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;      
        z-index:1000;
    }    
}

.fixed-overlay__modal {
    text-align: center;
    white-space: nowrap;
    
    &::after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: '';
    }    
    .win_modal {
        display: inline-block;
        vertical-align: middle;
        position:relative;
        z-index:2000;
        .modal_container {
            margin: 50px;
            padding: 20px;
            text-align: left;
            white-space: normal;
            background-color: #fff;    
            color: #000;
            max-width: 750px;
            h3,h2 {
                font-size: 1.5em;
                text-align: center;
                font-weight: bold;
                margin: 5px 0;
            }   
            .info-modal{ 
                p{
                    font-size: 1.2em;
                }
                strong{
                    font-weight: bold;
                }                
            }
            .info-block{
                float:left;
                padding: 10px;
                width:45%;
                h3 {
                    font-size: 1.5em;
                    text-align: center;
                    font-weight: bold;
                    margin: 5px 0;
                }                
            }
            .components-block{
                float:right;
                padding: 10px 10px 5px 10px;
                width:55%;
                h3 {
                    font-size: 1.1em;
                    text-align: center;
                    font-weight: bold; 
                    margin: 0;
                }                
                .component{
                    margin: 5px;
                    padding: 5px;
                    border: 1px solid $color-grey;
                    line-height: 1.5em;
                    font-size: 1.2em;                    
                    input{
                        margin: 0px 5px 0;
                    }
                    input[name=count]{
                        width: 50px;
                        text-align: center;
                    }
                    label[for=color-0]{
                        height: 2em;
                    }
                    label[for=color-1]{
                        line-height: 1em;
                        small{
                            line-height: 0.5em;
                            font-size: 0.8em;                            
                        }
                    }                    
                    input[id=color-1]{
                        line-height: 1.5em;
                        margin: 10px 5px 10px;
                        float: left;                        
                    }
                }
            }
            .price-box {
                font-size: 1.3em;
                text-align: center;
                color: #333;
                line-height: 1em;
                span{
                    color:#111;
                    padding: 0 5px;
                    font-size: 1.5em;
                    font-weight: bold;
                }
                small{
                    font-size: 0.7em;
                    line-height: 0.7em;                                        
                }
            }            
            .action-block{
                    padding: 5px 0;                  
                    text-align: center;
                    .btn {
                        color: $link-color;
                        display: inline-block;
                    }
                    .btn-add{
                        background: $color-orange;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 1.1em;
                        padding: 5px 60px;
                        line-height:1.5em;
                        text-align: center;
                        border-radius: $border-radius-base;
                        float: right;
                    };
                    .cancel, .about {
                        border: 1px solid $color-grey;
                        padding: 5px 50px;
                        line-height: 1.5em;
                        color: #222;                        
                    };
                    .cancel{
                        float: left;
                    }                    
            }            
        }        
    }    
}

 
    #action-1 {
        border:none;
        padding: 0;
        @include transition(all 1s ease-in-out);        
        &.fixed{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;            
            z-index: 900;            
        }
        .wrapper-action{
            max-width: 960px;
            background: #fff;
            margin: 0 auto;
            padding: 10px 10px 0;
            height: 55px;
            border: 1px solid #ccc;
        }
        p{
            float: left;
            line-height: 30px;
            font-size: 1.2em;
            font-weight: bold;        
        }        
    }
    

    .lists {
        padding: 10px 0 50px;
        border-top:1px solid $color-grey;
        .action{
            margin-bottom: 40px;
            .btn {
                color: $color-orange;
                display: inline-block;
                margin: 0 5px;
            }
            .btn.edit{
                border: 1px solid $color-orange;                
                font-size: 1.1em;
                padding: 5px 15px;
                line-height:1.5em;
                text-align: center;
                border-radius: $border-radius-base;
                float: left;                
            };            
        }
        .title{
            text-align: center;            
            padding: 5px 0 10px;
            h3{
                font-size: 1.5em;  
                margin: 5px 0;
                text-transform: uppercase;
            }
            p{
                font-size: 1.2em;
            }        
        }; 
        
        .table{
            .list-clear{
                text-align: center;
                font-size: 1.2em;
                padding: 20px 0;
                display: none;
            }
            .line {
                font-size:1.2em;
                line-height:1.5em;
                .col{
                    display: block;
                    float: left;
                }
                .number{
                    width: 5%;                    
                }
                .name {
                    width: 45%;
                }
                .price{
                    width: 15%;
                }
                .count{
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    user-select: none;  
                    width: 10%;
                    text-align: center;
                    .edit-list {
                        cursor: pointer;
                        font-weight: bold;
                        padding: 0 5px;
                    }                    
                    .min{
                        color: $color-red;
                    }
                    .pls{
                        color: $color-red;
                    }                    
                }
                .total{
                    width: 20%;
                    text-align: right;
                    font-weight: bold;
                }
                .del{
                    width: 5%;
                    text-align: right;
                    cursor: pointer;
                    color: $color-red;
                }
                .total-line{
                    width: 75%;
                    text-align: right;
                    font-weight: bold;
                }
            }
            .line.top{
                border-top: 1px solid $color-grey;
            }
            .line.bottom{
                border-bottom: 1px solid $color-grey;
            }            
        }
    }

.action-bar{
        padding: 10px 0;
        border-top:1px solid $color-grey;
        
        .btn {
            color: $color-orange;
            display: inline-block;
            margin: 0 5px;
        }
        .btn.sale{
            background: $color-orange;
            color: #fff;            
            font-size: 1.1em;
            padding: 5px 15px;
            line-height:1.5em;
            text-align: center;
            border-radius: $border-radius-base;
            float: right;
            text-transform: uppercase;
        };
        .btn.clear {
            border: 1px solid $color-orange;
            padding: 5px 15px;
            line-height: 1.5em;            
        };
        .btn.view {            
            padding: 0;
            font-size: 1em;
            &:hover{                
                box-shadow: none !important;
            }
        }; 
        .btn.pay{
            background: $color-orange;
            color: #fff;            
            font-size: 1.5em;
            padding: 0;
            line-height:50px;
            text-align: center;
            border-radius: $border-radius-base;            
            text-transform: uppercase;
            width: 300px;
            height: 50px;
            margin: 0 auto; 
            display: block;
        };        
}

    #action-1 {
            .btn.clear {
                float: right;
            };    
    }
}